<div class="contaner">
  <div class="row">
<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <div align="left" style="margin-left:5px;">
  <span style="color:#fff;"><h4> <i class="fa fa-check-square-o" aria-hidden="true"></i> ToDo</h4></span>
  <login-buttons></login-buttons>
</div>
</nav>
</div>
</div>
<div class="container" style="margin-left:5px;">
<div class="row">
<div align="left"><h3>Home</h3>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
</ol>
</div>
</div>
  <div class="row">
    <div class="col-xs-6">
        <add-task></add-task>
   </div>
 </div>

 <div class="row">
     <div class="col-xs-6">
<todo-list></todo-list>
 </div>
</div>
</div>
<div class="container">
  <!-- Create a footer directive -->
  <span class="text-muted">
  Fork me on <a href="https://github.com/LIOSK-ORG/todoapp">GitHub</a>
  </span>
</div>
